<% provide(:title, "About") %>
<br>
<div class="container">
    <div class="row">
      <div class="col-sm">
        <table class="table-light table-bordered text-dark">
          <tbody>
            <tr>
              <td>
                <br>
                <h2>TELESPO開発背景</h2>
                <br>
                私自身が前職でテレワークを行っていたこともあり、<br>
                テレワークやプログラミングの勉強に便利な場所をよくネットで探したりしていました。<br>
                ちょっとした記事はありましたが、<br>
                情報量が少なかったり、閉店したお店が掲載されていたりと、不便さを感じていました。<br>
                口コミサイトのようにシェアできる形なら、<br>
                常に最新で、且つ多くの方々のリアルな情報を得ることができ、<br>
                もっと便利になると考えこのアプリを開発いたしました。<br>
                <br>
                また、昨今はコロナ禍で人との交流を持ちづらいですが、<br>
                このアプリが地元の人同士の交流につながりましたら、<br>
                嬉しく思います。<br>
                <br>
                <br>
                管理人より
                <br>
            </td>
            </tr>     
          </tbody>
        </table>
    </div>
  </div>
</div>