<br>
  <div class="container-fluid bg-dark text-light">
      <h1>TELESPO</h1>
      <br>
      <br>
      <h4>テレワークにおすすめの場所を共有しましょう!</h4>
      <br>
    <h2 style="text-align:center"><%= image_pack_tag 'media/images/programming.jpg' %></h2>
    <br>      
  </div>




