<div class="container">
  <div class="row">
    <div class="col-sm">
        <br>
          <div class="container-fluid bg-dark text-light">
              <h2>TELESPO</h2>
              <br>
        <table>
            <tr>
                <td><img src="https://cdn.pixabay.com/photo/2017/06/20/23/15/coffee-2425303_960_720.jpg" alt="サイトの説明画像" width="407" height="260"></td>       
                <td align="center">テレワークにおすすめの場所を
                <br>シェアしたり、探したり
                <br>できるサービスです。</td>
            </tr>
        </table>
            <br>
            <br>
            <h6>家でずっと仕事をしていると、集中力が切れてしまうことはありませんか？</h6>
            <h6>肩や腰がつらくなったりしませんか？</h6>
            <h6>TELESPOはそんなあなたの悩みを解決できるサイトです！</h6>
            <h6>快適なテレワークスポットを探して、活用していきましょう！</h6>
            <h6>また、皆様のおすすめの場所の投稿もお待ちしております♪</h6>
            <br>
            <%= render partial: "home" %>
          </div>
        <br>
    </div>
  </div>
</div


