@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import 'materialize-css/dist/css/materialize';

/* ページネーション*/

.page a,
.next a,
.last a,
.first a,
.prev a {
  color: #800000;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 50px;
}

.page a:hover,
.next a:hover,
.last a:hover,
.first a:hover,
.prev a:hover {
  color: white;
}

.current {
  font-weight: bold;
}