<div class="container">
    <div class="row">
      <div class="col-sm">
        <br>
          <div class="contents_form">
            <div class="container_box">
              <div class="row justify-content-center">
                <h3>編集ページ</h3>
              </div>
              <%= render partial: "form", locals: { post: @post } %>
            </div>
          </div>
      </div>
  </div>
</div>