<div class="container">
    <div class="row">
      <div class="col-sm">
        <br>
        <h1>おすすめスポットの投稿</h1>
        <br>
        <%= render partial: "form", locals: { post: @post } %>
    </div>
  </div>
</div>