<div class="container">
    <div class="row">
      <div class="col-sm">
        <br>
          <div class="contents row">
            <div class="success">
              <h3>更新が完了しました。</h3>
              <a class="btn btn-info mr-3" href="/posts/index">投稿一覧へ戻る</a>
            </div>
          </div>
       </div>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>