<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="page-header">
        <h1>お問い合わせ</h1>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm">
        <p>この度はお問い合わせいただきありがとうございます。</p>
        <p>順次対応させていただきますので、</p>
        <p>お待ちください。</p>
        <p>よろしくお願いいたします。</p>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>