<p>こんにちは！ <%= @email %>さん</p>
<br>
<p>ユーザー登録登録が完了しました。</p>
<br>
<p>下記URLよりアクセスできます。</p>
<p><%= link_to 'TELESPO', 'https://telespo.net' %></p>
<br>
<br>
<br>
<p>このメールは返信しても届きません。お問い合わせはアプリを起動して「お問い合わせ」からお願いいたします。</p>
<br>
<p>管理人より</p>