<%# 登録／お問い合わせメール受付かを「unconfirmed_email」の有無で切り分けてメール送信させる。 %>
<p>こんにちは！ <%= @email %>さん</p>
<br>
<% if @resource.try(:unconfirmed_email?) %>
    <p>この度はお問い合わせいただきありがとうございます。</p>
    <p>順次対応させていただきますので、</p>
    <p>お待ちください。</p>
    <p>よろしくお願いいたします。</p>
    <br>
    <br>
    <br>
    <p>このメールは返信しても届きません。お問い合わせはアプリを起動して「お問い合わせ」からお願いいたします。</p>
    <br>
    <p>管理人より</p>    
<% else %>
    <p>ユーザー登録登録が完了しました。</p>
    <br>
    <p>下記URLよりアクセスできます。</p>
    <p><%= link_to 'TELESPO', 'https://telespo.net' %></p>
    <br>
    <br>
    <br>
    <p>このメールは返信しても届きません。お問い合わせはアプリを起動して「お問い合わせ」からお願いいたします。</p>
    <br>
    <p>管理人より</p>    
<% end %>