<footer class="footer">
  <small>
    Copyright TELESPO 2021.
  </small>
  <nav>
    <ul>
      <li><%= link_to "開発背景",   about_path %></li>
      <li><%= link_to "お問い合わせ" %></li>
    </ul>
  </nav>
</footer>

