<br>
<br>
<footer class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <h6>Copyright TELESPO 2021.</h6>
      <nav>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "開発背景", about_path, class: "btn btn-info mr-3" %></li>
          <li><%= link_to "お問い合わせ", inquiry_path, class: "btn-sm btn-danger mr-3" %></li>
        </ul>
      </nav>
  </div>
</footer>